{:paths
 ["src" "resources"]

 :deps
 ;; TODO: figure out how to be able to leave off this version string and use the version from the BOM
 {com.google.cloud/google-cloud-bigquery {:mvn/version "2.46.0"
                                          ;; this appears to be dual licensed EPL, GPL2.0 but it's not super
                                          ;; clear so we're excluding it
                                          :exclusions  [javax.annotation/javax.annotation-api
                                                        ;; Fix CVE-2025-24970 and CVE-2025-55163: Exclude all Netty dependencies
                                                        ;; from google-cloud-bigquery to use our fixed versions
                                                        io.netty/netty-common
                                                        io.netty/netty-buffer
                                                        io.netty/netty-handler
                                                        io.netty/netty-codec-http2]}
  ;; Fix CVE-2025-24970 and CVE-2025-55163: Override all Netty dependencies with secure versions
  ;; netty-handler: 4.1.118.Final (minimum fix for CVE-2025-24970)
  ;; netty-codec-http2: 4.1.124.Final (minimum fix for CVE-2025-55163)
  ;; netty-common and netty-buffer: 4.1.124.Final (for consistency)
  io.netty/netty-common                  {:mvn/version "4.1.124.Final"}
  io.netty/netty-buffer                  {:mvn/version "4.1.124.Final"}
  io.netty/netty-handler                 {:mvn/version "4.1.118.Final"}
  io.netty/netty-codec-http2             {:mvn/version "4.1.124.Final"}}}
