{:paths
 ["src" "resources"]

 :mvn/repos
 {"metabase-maven-downloads" {:url "https://s3.amazonaws.com/metabase-maven-downloads"}}

 :deps
 {com.metabase/athena-jdbc {:mvn/version "3.3.0"
                            ;; Fix CVE-2025-24970, CVE-2025-55163, and CVE-2025-59419: Exclude all Netty dependencies
                            ;; from athena-jdbc to use our fixed versions
                            :exclusions  [io.netty/netty-common
                                          io.netty/netty-buffer
                                          io.netty/netty-transport
                                          io.netty/netty-resolver
                                          io.netty/netty-codec
                                          io.netty/netty-handler
                                          io.netty/netty-codec-http2
                                          io.netty/netty-codec-smtp]}
  ;; Fix CVE-2025-24970, CVE-2025-55163, and CVE-2025-59419: Override all Netty dependencies with secure versions
  ;; netty-handler: 4.1.118.Final (minimum fix for CVE-2025-24970)
  ;; netty-codec-http2: 4.1.124.Final (minimum fix for CVE-2025-55163)
  ;; netty-codec-smtp: 4.1.128.Final (minimum fix for CVE-2025-59419)
  ;; netty-common, netty-buffer, netty-transport, netty-resolver, netty-codec: 4.1.128.Final (for consistency and latest)
  io.netty/netty-common                  {:mvn/version "4.1.128.Final"}
  io.netty/netty-buffer                  {:mvn/version "4.1.128.Final"}
  io.netty/netty-transport               {:mvn/version "4.1.128.Final"}
  io.netty/netty-resolver                {:mvn/version "4.1.128.Final"}
  io.netty/netty-codec                   {:mvn/version "4.1.128.Final"}
  io.netty/netty-handler                 {:mvn/version "4.1.118.Final"}
  io.netty/netty-codec-http2             {:mvn/version "4.1.124.Final"}
  io.netty/netty-codec-smtp              {:mvn/version "4.1.128.Final"}}}
