.root {
  overflow: visible;
  display: flex;
  align-items: flex-start;
  min-height: 100%;
  height: auto;
  width: 100%;
  cursor: default;
  border-bottom: 1px solid #c5c6cc;
  /* border-right: 1px solid #c5c6cc; */
  padding: 0 12px;
  background-color: var(--cell-bg-color);
}

.root:hover {
  background-color: var(--cell-hover-bg-color);
}

.leftAligned {
  text-align: left;
  justify-content: flex-start;
}

.rightAligned {
  text-align: right;
  justify-content: flex-end;
}

.centerAligned {
  text-align: center;
  justify-content: center;
}
